*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common style */
.container{
  max-width: 1360px
}
/* Font  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;

}

.link-parent{
  display: flex;
  gap: 2em;
  list-style:none ;
}
.link-parent a{
  text-decoration: none;

}
header{
  padding: 16px;
}
