*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* My Common class */
.container{
  max-width: 1360px;
  margin: 0 auto;
  width: 85%;
}
.my-btn{
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  font-weight: 600;
  background-color: #30B868;
  color: white;
  font-family: "Inter", sans-serif;
  border: none;
}


/* Nav section  */
nav{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;

}

.link-parent{
  display: flex;
  gap: 2em;
  list-style:none ;
}
.link-parent a{
  text-decoration: none;
  color: black

}
header{
  background-color: rgba(255, 255, 255, 1);

}
/* hero section styling */
.hero-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(./assets/hero-bg.png);
    height:650px ;
  }
  .hero-color{
    color: rgba(48, 184, 104, 1);
  }
